@import "../../components/bootstrap/scss/bootstrap";

@font-face {
    font-family: LATO-REGULAR;    
    src: url(../../fonts/LATO-REGULAR.TTF);
}

/* RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
	cursor: pointer;
}

img {
	max-width: 100%;
}

body{
	font-size: 16px;
	font-family: LATO-REGULAR !important;
	background-color: #efefef;
}

/* Login */

.login{
	margin: 100px 0;
}

.login img{
	margin: 30px 0
}

.login a{
	color: #1b5a6c;
}

.login .btn{
	background: #1b5a6c;
	border-color: #1b5a6c;
	border-radius: 15px;
	padding: 5px 25px;
	color: #fff;
	&:hover{
		opacity: 0.8;
	}
}


/* Header */

.circle {
  background-color: #aaa;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  overflow: hidden;
  position: relative;
}

.circle img {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Dashboard */

.default{
	margin: 50px 0;
}

.default h1{
	font-size: 25px;
}

.quick-access .nav-link,
.btn-add,
.btn-voltar{
	background: #1b5a6c;
	color: #fff;
	margin: 4px 0;
	border-radius: 10px;
	width: 75%;
	&:hover{
		opacity: 0.8;
		color: #fff;
	}
}

/* Forms */

.mainform{
	display: none;
}

/* Slides */

.ger-default{
	margin: 50px 0;
}

.btn-default{
	width: 100%;
	margin: 8px 0;
}

.btn-form{
	background: #1b5a6c !important;
	border-color: #1b5a6c !important;
	color: #fff !important;
	width: 100%;
	&:hover{
		background: #1b5a6c;
		border-color: #1b5a6c;
		opacity: 0.8;
	}
}

.ger-slides span,
.ger-servicos span{
	padding: 0 5px;
}

/* Videos */

.media iframe{
	width: 337px !important;
	height: 157px !important;
}

/* Servicos */

.form-border{
	border-radius: 10px;
    border: 1px solid #1b8eaf;
    padding: 15px;
    background-color: #fff;
}

.form-border h3{
	text-align: end;
    color: #1b5a6c;
    border-bottom: 1px solid #1b5a6c;    
    margin-bottom: 40px;
}

/* Acesso rapido */

.access{
	margin: 50px 0;
}

/* Footer */

.footer{
	background: #1b5a6c;
	padding: 40px 0;
}

.footer p{
	color: #fff !important;
	text-align: center;
}
