RewriteEngine On

RewriteRule ^/?$ index.php
RewriteRule ^contato/?$ contato.php

RewriteRule ^admin/?$ admin/index.php
RewriteRule ^admin/home/?$ admin/home.php
RewriteRule ^admin/logout/?$ admin/logout.php