@import "../components/bootstrap/scss/bootstrap";

@font-face {
    font-family: Klavika;
    src: url(../fonts/klavika.otf);
}

/* RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
	cursor: pointer;
}

img {
	max-width: 100%;
}

body{
	font-size: 16px;
	font-family: Klavika !important;
	//background-color: #efefef;
}

/* Header */
.header{
	position: fixed;
	width: 100%;
}

.header-menu{
	background-color: #004b61;
	margin-right: 0;
    margin-left: 0;
}

.social{	
	padding: 5px 0;
	font-size: 25px;
	> a {
		color: #fff;
		padding: 0 5px;
		&:hover{
			color: #306579;
		}
	}	
}

.menu{
	border-bottom: 3px solid #004b61;
}

.logo h2{
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	font-size: 45px;
	color: #727176;
	padding: 20px 0;
}

.nav-menu{
	font-size: 24px;
}

.nav-menu li{
	padding: 0 10px;
}

.nav-blog{
	color: #610800 !important;
}


/* Footer */

.footer{
	background-color: #727176;
	padding: 100px 0;
	margin: 200px 0;
}


.footer .container,
.footer-end .container{
	height: auto;	
	align-items: flex-start;
}

.footer-menu{	
	list-style: none;
}

.footer-title{
	display: block;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	color: #610800;
	margin-bottom: 20px;
}

.footer-link{
	display: block;
	color: #fff;
	margin-top: 10px;
}

.fotter-social .footer-link{
	display: inline;
	color: #fff;
	margin-top: 10px;
	padding: 0 4px;
}

.footer-menu .footer-link:hover{
	text-decoration: none;
	color: #fff;	
}

.footer-developer .footer-link:hover{
	text-decoration: none;
	color: #fff !important;
}

.footer-developer li{
	display: block;
}


.footer-end{
	padding: 15px 0;	
	background-color: #2a3842;
}

.footer-end .container{
	justify-content: space-between;
}

.footer-end p{
	margin-top: 20px;
}
