@import "../components/bootstrap/scss/bootstrap";

@font-face {
    font-family: LATO-REGULAR;
    src: url(../fonts/LATO-REGULAR.TTF);
}

/* RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
	cursor: pointer;
}

img {
	max-width: 100%;
}

body{
	font-size: 16px;
	font-family: LATO-REGULAR !important;
	//background-color: #efefef;
}

/* HEADER */
.header-menu-top{
	background-color: #1b667d;
}

.header-menu-top-img{
	padding-left: 0px !important;
}

.header-menu-top-img img{	
	max-width: 150% !important;
}

.social{
	display: flex;
	justify-content: flex-end;
	> i,
	  a{
		padding: 5px 5px;
		color: #1b667d;
	}
}

.logo{
	display: flex;
	justify-content: flex-end;
}

.logo img{	
	width: 45%;
	margin: 30px 0;
}

.menu{
	background-color: #1b5a6c;
}

.navbar-menu{
	padding: 0.5rem 0 !important;
}

.nav-menu .nav-link{
	color: #fff !important;
	&:hover{
    	color: #1b8eaf !important;
    }
}

.menu-search{
	display: flex;
	align-items: center;
}

.search{
	border-radius: 50px;
	border-color: #8dadb6;
	background-color: #1b5a6c;
	font-style: italic;
	color: #8dadb6;
}

/* Capa */

.default{
	margin: 60px 0;
}

/* Perfil */

.perfil .card-title{
	text-transform: uppercase;
	font-weight: bold;
	color: #1b5a6c;
}

.card-default{
	border-radius: 10px;
    border: 1px solid #1b8eaf;
    padding: 15px;
}

.headline{
	font-weight: bold;
	font-size: 24px;
	color: #1b5a6c;
}

.headline-sub{
	color: #737478;	
	font-weight: bold;
}

/* Serviços */

.services .list-group-item{
	position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1.25rem;
    margin-bottom: 3px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px;
    background-color: #1b5a6c;
    color: #fff;
    &:active{
    	background-color: #1b8eaf !important;
    }
}

.card-default .card-text{
	color: #737478;	
}


/* Entrevistas */

.interview .list-group-item{
	position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.75rem 1.25rem;
    margin-bottom: 3px;
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid #1b8eaf;    
    color: #1b8eaf;
    > i{
    	padding: 0 8px;
    }
    &:active{
    	color: #737478;
    }
}

/* Informativos */

.informative{
	margin-top: 60px;
	margin-bottom: 60px;
}

.informative .card-default{
	height: 420px;
}

.informative .col-sm-4{
	margin-bottom: 40px;
}

.informative .headline{
	font-weight: bold;
    font-size: 18px;
    color: #1b5a6c;
}

.informative .date{
	font-size: 12px;
	color: #737478;
}

.informative .card-text{
	font-size: 14px;
	color: #737478;
}

.pagination-nav{
	display: flex;
	justify-content: center;
}

.pagination-nav .page-link{
	border: 0 !important;
	font-size: 14px;
	font-weight: bold;
	padding: 0.5rem 0.3rem;
	color: #1b8eaf;
	>i{
		color: #b2b2b2;
	}
}

.pagination-nav .page-item.active .page-link{
		z-index: 1;    
    	background-color: #fff !important;
    	border-color: #fff !important;
		color: #b2b2b2 !important;		
}

.info-search{
	border-radius: 10px;
	background: #fff;
    padding: 7px 17px;        
}

/* Jurisprudencia */

.jurisprudence .card{
	position: relative;
    display: flex;
    flex-direction: column;
    border: 0px solid rgba(0, 0, 0, 0.12)!important;
}

.jurisprudence .card-header{
	position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    margin-bottom: 3px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px !important;
    background-color: #1b5a6c;
    color: #fff;
    margin: 5px 0;
}

.jurisprudence .btn-link{
	color: #fff;
	text-decoration: none;
}

.jurisprudence .list-group-item{
	position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.5rem 1.25rem;
    margin-bottom: 3px;
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid #1b8eaf;
    color: #1b8eaf;
    >active{
    	color: #737478 !important;
    }
}

.jurisprudence .card-default{
	border-radius: 10px;
    border: 1px solid #1b8eaf !important;
    padding: 15px;
}

.print a{
	color: #1b5a6c;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

/* Blog */

.blog{
	margin: 25px 0;
}

.blog-mini{
	margin: 25px 0;
    display: flex;
    justify-content: space-between;
}

.categoria{
	border-radius: 10px;
	border-color: #1b5a6c;
	color: #1b5a6c;
}

.border{
	border-top: 1px dotted #1b5a6c !important;
	margin: 10px 0;
}

.blog-mini .headline{
	font-size: 13px !important;
}

.blog-mini .blog-link{
	font-size: 12px !important;
}

.blog .headline-sub,
.blog-mini .headline-sub{
	font-size: 12px;
	font-weight: 400;
	color: #88898c;
}

.blog-text{
	font-size: 12px;
	color: #88898c;
}

.blog-link{
	text-transform: uppercase;	
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	color: #1b8eaf;
	&:hover{
		text-decoration: underline;
		color: #1b8eaf;
	}
}

.blog-img{
	border-radius: 10px;
}

/* Contato */

.contact p{
	font-size: 15px;
	text-align: center;
	color: #346777;
}

.contact .form-control{
	border-radius: 10px;
    border: 1px solid #1b8eaf !important;
}

.contact .btn-contact{
	margin: 0 16px;
    padding: 7px 23px;
    border-radius: 10px;
    border: 1px solid #1b5a6c !important;
    background: #1b5a6c;
    color: #fff;
    &:hover{
    	opacity: 0.8;
    }
}

.contact-location{
	background: #1b5a6c;
	padding: 35px 20px;
}

.contact-location p{
	color: #fff;
	text-align: left;
    margin: 0;
    padding: 4px;
    >span{
    	font-weight: 600;
    }
    >i{
    	padding: 0 5px;
    }
}

.maps{
	margin: 30px 0;
}

.maps iframe{
	border-radius: 10px;
}

/* Slides */

.carousel-control-prev-icon,
.carousel-control-next-icon{	
    background-color: #1b8eaf;
    background-size: 10px;
    border-radius: 18px !important;
}

.carousel-control-prev {
    left: 241px;
}

.carousel-control-next {
    right: 241px;
}

/* Cards Index */

.cards{
	margin: 50px 0;
}

.btns-card{
	display: flex;
    justify-content: flex-end;
}

.btn-card{
	border-radius: 50px;
	color: #fff !important;
    background-color: #1b8eaf;
    border-color: #1b8eaf;
    padding: 2px 20px;
    margin: 10px 0;
    &:hover{
    	opacity: 0.8;
    }
}

.btn-video{
	background: #fff;
	color: #1b5a6c !important;
	font-weight: bold; 
	margin-bottom: 50px;
	&:hover{
		background: #fff !important;
		color: #1b5a6c !important;
		opacity: 1;
	}
}

.cards .card{
	border: 1px solid #1b8eaf;
	border-radius: 15px;
}

.cards .shape{
	display: flex;
    justify-content: center;
    flex-direction: column;
    color: #1b8eaf;
    >i{
    	font-size: 23px;
    }
}

.cards .divider{
	border: 0.4px solid #1b8eaf;
	margin: 8px 0;
}

.cards .card-title{
	font-size: 22px;
	color: #737478;
	font-weight: bold;
	border-bottom: 3px solid #1b8eaf;
	padding-bottom: 5px;
}

.cards .card-text a{
	font-size: 16px;
	font-weight: 500;
	color: #1b8eaf;
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

.cards img{
	width: 100px !important;
}

.card-video{
	background-color: #1b5a6c;
	border: 1px solid #1b5a6c;
	border-radius: 0px !important;
}

.card-video iframe{
	width: 280px !important;
	height: 157px !important
}

.card-video .card-title{
	color: #fff;
	border-bottom: 3px solid #fff;
}

.card-video .card-subtitle{
	font-size: 16px !important;
	color: #fff !important;
}

/* Logos */

.logos{
	background-color: #f3f3f3;
	padding: 20px 0;
}

/* Footer */

.footer{
	border-top: 3px solid #1b8eaf;
	background-color: #1b5a6c;
}

.logo-footer{
	margin: 40px 43px; 
}

.logo-footer p{
	font-size: 11px;
	color: #fff;
	text-align: right;
}

.social-footer{
	display: flex;
    justify-content: flex-end;
    >i{
    	padding: 25px 5px;
    	padding-bottom: 0;
    	color: #fff;
    	&:hover{
    		color: #1b8eaf;
    	}
    }
    >p{
    	padding: 23px 5px;
    	padding-bottom: 0;
    	font-size: 14px;
    	color: #fff;
    }
}

.menu-footer{
	border-top: 1px solid #fff;	
	justify-content: space-around;
}

.menu-footer .nav-link{
	font-size: 12px;
	color: #fff;
	padding: 0.5rem 0.5rem;
	&:hover{
    		color: #1b8eaf;
    	}
}

.menu-footer span{
	padding: 0.2rem 0;
	color: #fff;
}


/* AJUSTES MOBILE */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {	
	
	.header-menu-top-img img {
    	max-width: 100% !important;
	}

	.menu-search {
    	display: flex;
    	padding: 10px 15px;
    }

    .carousel-control-next {
    	right: 0;
	}

	.carousel-control-prev {
    	left: 0;
	}

	.card-index-mob{
		width: 20rem !important; 
		height: auto !important;
	}

	.jurisprudence{
		margin: 20px 0;
	}

	.categoria{
		margin: 10px 0;
	}

	.contact p {
    	font-size: 13px;
	}

	.maps iframe {
    	border-radius: 10px;
    	width: 331px;
    	height: auto;
	}
}